/*CLASSES*/

.imgcenter {
display: block; margin: auto
}

/*FONTS*/

@font-face {
  font-family: Ransomblancozero;
  src: url('RansomBlancoZero.otf');
  format('otf');
}
@font-face {
  font-family: crashalert;
  src: url('CrashAlert1.ttf');
  format('ttf');
}
@font-face{
  font-family: freeride;
  src: url('Freeride.otf');
  format('otf');
}

/*SELECTORS*/

nav td {background-color: black; color: white; font-family: freeride; font-size: 40pt; white-space: nowrap; 
}
header td {padding-top: 1%; padding-bottom: 1%;
}
html {min-width: 2000px}
