.imgcenter {
display: block; margin: auto
}
@font-face {
  font-family: Ransomblancozero;
  src: url('RansomBlancoZero.otf');
  format('otf');
}
@font-face {
  font-family: crashalert;
  src: url('CrashAlert1.ttf');
  format('ttf');
}
@font-face{
  font-family: freeride;
  src: url('Freeride.otf');
  format('otf');
}
nav td {background-color: black; color: white; font-family: freeride; font-size: 40pt; margin-top: 10%; padding-top: 20%;
}
