.imgcenter {
display: block; margin: auto
}
@font-face {
  font-family: Ransomblancozero;
  src: url('RansomBlancoZero.otf');
  format('otf');
}
@font-face {
  font-family: crashalert;
  src: url('CrashAlert1.ttf');
  format('ttf');
}
nav td {background-color: black; color: white; font-family: crashalert; font-size: 40pt;
}
